<div class="row">
    <div class="col-md-4"></div>
    <div class="text-center col-md-4" style="padding-top: 10em;">
        <main class="form-signin w-100 m-auto">
            <form>
                <fa-icon class="mb-4" style="font-size: 60px;" [icon]="faFileInvoice"></fa-icon>
                <h1 class="h3 mb-3 fw-normal">Gestionale Fatture</h1>
            
                <div class="form-floating">
                    <input type="text" name="username" class="form-control" id="floatingInput" placeholder="name@example.com" required>
                    <label for="floatingInput">Username</label>
                </div>
                <br>
                <div class="form-floating">
                    <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" required>
                    <label for="floatingPassword">Password</label>
                </div>
            
                <div class="checkbox mb-3">
                <br>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
                <p class="mt-5 mb-3 text-muted">Jari Näser © 2022</p>
            </form>
        </main>
    </div>
</div>