.thead-dark{
    background-color: #343434;
    color: white;
}

.error-message{
    font-size: 12px;
}

.myFeedback{
    position: absolute;
    right: 1em;
    /* display: inline-block; */
}

.myPositiveFeedback{
    border: #5cb85c 2px solid;
    border-left: #5cb85c 10px solid;   
}

.myNegativeFeedback{
    border: #d9534f 2px solid;
    border-left: #d9534f 10px solid;   
}

.alertIcon{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}