<nav class="navbar navbar-expand-lg" style="background-color: #343434;">
    <div class="container-fluid">
      <a class="navbar-brand text-white" [routerLink]="['/']">Gestione Fatture</a>
      <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav" style="right: 1em; position: absolute;">
        <ul class="navbar-nav">
            <li class="nav-item hoverNavElement" *ngIf="hasToken()">
                <a [routerLink]="['/invoices']" class="nav-link active text-white" aria-current="page">Fatture</a>
            </li>
            <li class="nav-item hoverNavElement" *ngIf="hasToken()">
              <a [routerLink]="['/customers']" class="nav-link active text-white" aria-current="page">Clienti</a>
            </li>




            <li class="nav-item hoverNavElement" *ngIf="!hasToken()">
              <a [routerLink]="['/login']" class="nav-link active text-white" aria-current="page">Login</a>
            </li>
            <li class="nav-item hoverNavElement" *ngIf="hasToken()">
                <a [routerLink]="['/logout']" class="nav-link active text-white" aria-current="page">Logout</a>
            </li>
        </ul>
      </div>

    </div>
</nav>