<div class="col-md-12 text-center">
    <br>
    <br>
    <br>
    <h1>Fatture</h1>
    <br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <table class="table table-responsive">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Creation date</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>text</td>
                        <td>text</td>
                        <td>text</td>
                        <td>text</td>
                        <td>text</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>    
</div>